.content{
  padding: 40px;
  width: 1000px;
  height: 3000px;
  position: relative;
  left:150px;
  z-index: 10;
  background-color: #ffffff;	
	}
  h1{
    border-bottom: 1px solid black;
  }
  th{
    background-color: #888888;
  }
	td, th{
		border-collapse: collapse;
		border: 1px solid black;
		text-align: center;
	}
	.tb1, .tb3, .tb4, .tb5, .tb6, .tb7, .tb8{
		border-collapse: collapse;
		border-radius: 10px;
		width: 800px;
		position: relative;
		left: 90px;
	}
  .tb8, .tb9{
    left: 250px;
    width: 400px;
    height: 400px;
  }
	.tb2{
    border-collapse: collapse;
		width: 400px;
		border-radius: 10px;
	}
	.orbs, .main, .skills, .passive, .stats{
		/*border-style: dotted;*/
		position: relative;
	}
	.skills, .passive{

	}
	.char{
		position: relative;
		/*left: 250px;*/
	}

	.button {
    position: relative;
  left: 170px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
 	right: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #eee4ff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #23e4ff;
}

/* Style the tab content */
.tabcontent, .tabcontent1{
	animation: fadeEffect 1s;
  display: none;
  padding: 6px 12px;
  
  border-top: none;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}